<div class="search-form">
    <form method="post">
        <div class="mb-4 mt-4">
            <label for="exampleInputEmail1" class="form-label">Enter keywords</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div> 